<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Defense Keeda</title>
  <meta name="generator" content="Bootply"/>
  <meta name="viewport" content="width=device-width">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <!--<link href="{% static 'plugins/onepage-scroll/onepage-scroll.css' %}">-->
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<!-- script references -->
<body style="font-size: 15px;">
<!--- ---
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '292472880947888',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--- --->
<!--- ---
<script>
  (function(d, s, id){
    if("{{ user.email }}"){

    }else{

    }
  }();
</script>
<!--- --->
<div class="main">
<nav class="navbar navbar-fixed-top alt" id="fbNavBar" style="background-color: rgba(0, 0, 0, 0.75);" data-spy="affix"
     data-offset-top="1000">
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/{{ profile_id }}" target="_blank">
          <span style="background: transparent; border: none" class="btn btn-default btn-md"><img src="{{ profile_dp }}"
                                                                                                  class="img-circle img-responsive pull-left"
                                                                                                  style=""></span>
          <span
              style="font-size: 24px; padding: 5px; margin: 11px; color: white; background: transparent; text-transform: lowercase"
              class="btn btn-default btn-md"><i class="icon-facebook-sign"></i> {{ user.first_name }}</span>
      </a>
    </div>
  </div>
</nav>

<div class="blurb callout section" id="currentScroll"
     style="background-image: url('{% static 'assets/battle-image2.png' %}');">
  <div>
    <div>
      <div class="container glass" style="background-color: rgba(0, 0, 0, 0.75);">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Hot Topics</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3 text-center">
            <div class="featurette-item">
              <i class="icon icon-rocket"></i>
              <h4 class="visible-sm hidden-xs visible-md visible-lg">Attack Weapons</h4>

              <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">read and learn about newest attack weapons.
                lase
                something and it vanishes.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-center">
            <div class="featurette-item">
              <i class="icon icon-signal"></i>
              <h4 class="visible-sm hidden-xs visible-md visible-lg">Tracking and Navigation</h4>

              <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">track the latest in navigation and tracking
                devices. you can run but you can't hide</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-center">
            <div class="featurette-item">
              <i class="icon icon-shield"></i>
              <h4 class="visible-sm hidden-xs visible-md visible-lg">Defense System</h4>

              <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">all the rumors of systems absorbing or
                mitigating
                impossible amounts of damage.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 text-center">
            <div class="featurette-item">
              <i class="icon icon-laptop"></i>
              <h4 class="visible-sm hidden-xs visible-md visible-lg">Cyber Warfare</h4>

              <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">system failure.....<br>cannot load
                data.....<br>Status
                : <font color="red">404</font></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-attack-weapons.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 glass" style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.75);">
        <div class="row">
          <div class="featurette-detail pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-rocket icon-large"></i>
          </div>
          <div class="lead">
            <h2>Attack Weapons</h2>

            <p style="font-size: 15px;">read and learn about newest attack weapons. lase something and it vanishes</p>
          </div>
        </div>
        <div class="row">
          <div class="lead" style="font-size: 15px;">
            <a href="http://theaviationist.com/2014/06/18/su-30-beat-f-15-everytime"><h4>Can IAF Su-30MKI have the
              edge over U.S. fighters?</h4></a>

            <p>10 years ago, Exercise Cope India put the Indian Air Force Su-30 against U.S. Air Force F-15C with
              results that are still open to debate</p>
          </div>
          <div class="lead" style="font-size: 15px;">
            <a href="http://tarmak007.blogspot.in/2014/10/tejas-production-variant-makes-maiden.html"><h4>Tejas
              production variant makes maiden</h4></a>

            <p>Indian Air Force’s (IAF) wait to induct indigenous fighter into its squadron inched a step closer when
              the first Tejas series production (SP-1) aircraft kissed the skies on Tuesday</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb callout section"
     style="background-image: url('{% static 'assets/battle-tracking-navigation2.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-right glass"
           style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.20);">
        <div class="row">
          <div class="featurette-detail pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-signal icon-large"></i>
          </div>
          <div class="lead">
            <h2>Tracking and Navigation</h2>

            <p style="font-size: 15px;">track the latest in navigation and tracking devices. you can run but you can't
              hide</p>
          </div>
        </div>
        <div class="row">
          <div class="lead" style="font-size: 15px;">
            <a href="http://www.upi.com/Business_News/Security-Industry/2014/09/30/Indian-firm-to-produce-Honeywells-land-intertial-navigation-system/6471412087478/">
              <h4>Indian firm to produce Honeywell's land intertial navigation system</h4></a>

            <p>Tata Power's Strategic Engineering Division has been licensed to produce an inertial navigation system
              of Honeywell Aerospace</p>
          </div>
          <div class="lead" style="font-size: 15px;">
            <a href="http://www.capitalgazette.com/news/ph-ac-cn-oyster-radar-0927-20140925,0,3605454.story"><h4>
              Military-grade radar network watching for oyster poachers</h4></a>

            <p>Maritime Law Enforcement Information Network: 'It doesn't sleep'</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-defense-systems.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 glass" style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.50);">
        <div class="row">
          <div class="featurette-detail pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-shield icon-large"></i>
          </div>
          <div class="lead">
            <h2>Defense System</h2>

            <p style="font-size: 15px;">all the rumors of systems absorbing or mitigating impossible amounts of
              damage</p>
          </div>
        </div>
        <div class="row">
          <div class="lead" style="font-size: 15px;">
            <a href="http://foxtrotalpha.jalopnik.com/the-seven-deadliest-naval-close-in-weapon-systems-1568291678">
              <h4>The Seven Deadliest Naval Close-In Weapon Systems</h4></a>

            <p>From automated cannons that literally shred their target to pieces, to extremely agile missile systems,
              Close-In Weapon Systems are a vessel's last line of defense against anything hostile</p>
          </div>
          <div class="lead" style="font-size: 15px;">
            <a href="http://defensetech.org/2011/05/20/the-ten-barreled-ciws-of-chinas-aircraft-carrier/"><h4>The Ten
              Barreled CIWS of China’s Aircraft Carrier</h4></a>

            <p>Keep in mind that this isn’t the only point-defense system being installed on the Shi Lang</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-cyber-warfare5.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-right glass"
           style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.50);">
        <div class="row">
          <div class="featurette-detail pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-laptop icon-large"></i>
          </div>
          <div class="lead">
            <h2>Cyber Warfare</h2>

            <p style="font-size: 15px;">system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
        <div class="row">
          <div class="lead" style="font-size: 15px;">
            <a href="http://www.thetimes.co.uk/tto/technology/internet/article4223042.ece"><h4>Jihadist hackers
              'hitting back at Britain with cyber-warfare'</h4></a>

            <p>Hackers working for Islamic State and other terrorist organisations are behind an increasing number of
              cyber-attacks against Britain</p>
          </div>
          <div class="lead" style="font-size: 15px;">
            <a href="http://www.afr.com/p/technology/it_russia_cyber_warfare_we_should_9GeAVNlkLxbAzDsbE2trfK"><h4>
              It’s Russia’s cyber warfare we should fear</h4></a>

            <p>When Australian cybersecurity experts consider nation-state cyber aggressors, they tend to think of
              China. Russia follows a distant one or two countries behind</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ul class="nav scroll-down">
  <li><i id="main-nav" style="opacity: 0.0;color: #ffffff" class="icon-chevron-down icon-3x"></i></li>
</ul>
<ul class="nav scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>
</div>
</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'plugins/mousewheel/jquery.mousewheel.min.js' %}"></script>
</html>