<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Defense Keeda</title>
  <meta name="generator" content="Bootply"/>
  <meta name="viewport" content="width=device-width">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <!--<link href="{% static 'plugins/onepage-scroll/onepage-scroll.css' %}">-->
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '292472880947888',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>
<div class="main">
<nav class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container" style="text-align: center; display: none">
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
    <a href="#" class="btn btn-default btn-sm">Home</a>
  </div>
</nav>

<div class="header alt callout vert section" id="currentScroll"
     style="background-image: url('{% static 'assets/battle-image.png' %}');">
  <div class="container">

    <h1 style="color: rgb(47, 47, 47); text-shadow: 5px 5px 15px;">Defense Keeda</h1>

    <p class="lead">Know the difference between Roger and Affirmative</p>

    <div>&nbsp;</div>
    <a class="btn btn-default btn-lg" style="" href="/accounts/facebook/login/?method=oauth2"><i
        class="icon-facebook-sign"></i> LOGIN</a>
  </div>
</div>

<!-- === Hot Topics Plain Background - Start === --
<div class="blurb section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Hot Topics</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="icon icon-rocket" style="border: 3px solid #333;"></i>
          <h4>Attack Weapons</h4>

          <p>read and learn about newest attack weapons. tell a point and nothing remains.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon icon-signal" style="border: 3px solid #333;"></i>
          <h4>Tracking and Navigation</h4>

          <p>track the latest in navigation and tracking devices. you can run but you can't hide</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon icon-shield" style="border: 3px solid #333;"></i>
          <h4>Defense System</h4>

          <p>all the rumors of systems absorbing or mitigating impossible amounts of damage.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="icon icon-laptop" style="border: 3px solid #333;"></i>
          <h4>Cyber Warfare</h4>

          <p>system failure.....<br>cannot load data.....<br>Status : <font color="red">404</font></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === Hot Topics Plain Background - End === -->

<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-image2.png' %}');">
  <div class="container" style="background-color: rgba(0, 0, 0, 0.75);">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Hot Topics</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3 text-center">
        <div class="featurette-item">
          <i class="icon icon-rocket"></i>
          <h4 class="visible-sm hidden-xs visible-md visible-lg">Attack Weapons</h4>

          <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">read and learn about newest attack weapons. lase
            something and it vanishes.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-center">
        <div class="featurette-item">
          <i class="icon icon-signal"></i>
          <h4 class="visible-sm hidden-xs visible-md visible-lg">Tracking and Navigation</h4>

          <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">track the latest in navigation and tracking
            devices. you can run but you can't hide</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-center">
        <div class="featurette-item">
          <i class="icon icon-shield"></i>
          <h4 class="visible-sm hidden-xs visible-md visible-lg">Defense System</h4>

          <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">all the rumors of systems absorbing or mitigating
            impossible amounts of damage.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-center">
        <div class="featurette-item">
          <i class="icon icon-laptop"></i>
          <h4 class="visible-sm hidden-xs visible-md visible-lg">Cyber Warfare</h4>

          <p class="visible-sm hidden-xs visible-md visible-lg lead lowercase">system failure.....<br>cannot load data.....<br>Status
            : <font color="red">404</font></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- === Hot Topics Detailed Topic 1 - Start === --
<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-attack-weapons.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.75);">
        <div class="row">
          <div class="featurette-item pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-rocket icon-large"></i>
          </div>
          <div class="lead">
            <h2>Attack Weapons</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
        <div class="row">
          <div class="lead">
            <h2>News 1</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
          <div class="lead">
            <h2>News 2</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === Hot Topics Detailed Topic 1 - End === -->

<!-- === Hot Topics Detailed Topic 2 - Start === --
<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-tracking-navigation2.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-right" style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.20);">
        <div class="row">
          <div class="featurette-item pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-signal icon-large"></i>
          </div>
          <div class="lead">
            <h2>Tracking and Navigation</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
        <div class="row">
          <div class="lead">
            <h2>News 1</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
          <div class="lead">
            <h2>News 2</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === Hot Topics Detailed Topic 2 - End === -->

<!-- === Hot Topics Detailed Topic 3 - Start === --
<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-defense-systems.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.25);">
        <div class="row">
          <div class="featurette-item pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-shield icon-large"></i>
          </div>
          <div class="lead">
            <h2>Defense Systems</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
        <div class="row">
          <div class="lead">
            <h2>News 1</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
          <div class="lead">
            <h2>News 2</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === Hot Topics Detailed Topic 3 - End === -->

<!-- === Hot Topics Detailed Topic 4 - Start === --
<div class="blurb callout section" style="background-image: url('{% static 'assets/battle-cyber-warfare5.png' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-right" style="padding-top: 10px; padding-right: 10px; background-color: rgba(0, 0, 0, 0.50);">
        <div class="row">
          <div class="featurette-item pull-left" style="margin-right: 20px; margin-top: 20px;">
            <i class="icon-laptop icon-large"></i>
          </div>
          <div class="lead">
            <h2>Cyber Warfare</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
        <div class="row">
          <div class="lead">
            <h2>News 1</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
          <div class="lead">
            <h2>News 2</h2>

            <p>system failure.....<br>Status : <font color="red">404</font></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === Hot Topics Detailed Topic 4 - End === -->

<!-- === FEATURES GALORE - Start === --
<div class="gallery section">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h5>This Template is Responsive</h5>

      <h2>Features Galore</h2>
      <br>
    </div>
  </div>

  <div class="container well well-lg">

    <div class="row">

      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-film"></i></span> Carousel</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-folder-close-alt"></i></span> Tabs</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-credit-card"></i></span> Modal</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-reorder"></i></span> Navigation</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-mobile-phone"></i></span> Mobile-first</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-align-justify"></i></span> Accordion</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-list-alt"></i></span> Panel</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-check"></i></span> Form</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-table"></i></span> Table</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-eye-open"></i></span> Icons</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-th"></i></span> Responsive Grid</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <span class="text-success"><i class="icon-font"></i></span> Typography</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === FEATURES GALORE - End === -->

<!-- === Can't Figure - Start === --
<div class="blurb section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1><i class="icon-plane icon-3x"></i></h1>
      </div>
      <div class="col-md-7">
        <h1 class="pull-right">Launch Your Web Design</h1>

        <p class="lead pull-right">With this Responsive Bootstrap Template</p>
      </div>
    </div>
  </div>
</div>

<div class="blurb bright section" style="background-color: #ffffff;">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3>Smashing Heading</h3>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2><i class="icon-chevron-left"></i> Left</h2></div>
        <div class="panel-body text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
          accumsan.
          Aliquam in felis si.
          <div class="row">&nbsp;</div>
          <button class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Right <i class="icon-chevron-right"></i></h2></div>
        <div class="panel-body text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
          accumsan.
          Aliquam in felis sit.
          <div class="row">&nbsp;</div>
          <button class="btn btn-lg btn-primary btn-block">Sign Up</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Sharing the Bootstrap Love</h3>

        <p class="lead"></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container section">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        <hr>
        <p>Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a>.<br>Company
          ©2013</p>
      </div>
    </div>
  </div>
</footer>
<!-- === Can't Figure - End === -->

<ul class="nav scroll-down">
  <li><i id="main-nav" style="opacity: 0.0;color: #ffffff" class="icon-chevron-down icon-3x"></i></li>
</ul>
<ul class="nav scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>
</div>
</body>

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'plugins/mousewheel/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'plugins/package-quojs-2.3.6/quo.js' %}"></script>
<script>
  $$(document).swipe(function(event){
    event.preventDefault()
    scrollDown()
  })
</script>
</html>