<!DOCTYPE html>
<html>
<head>
    <title>Vishesh - Resume</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
        background: #f0f0f0;
        margin: 0;
        padding: 0;

        font-family: Georgia, 'Myriad Pro', 'Trebuchet MS', Helvetica, Arial;
        line-height: 18px;
        font-size: 14px;

        color: #222;
        }

        h1, h2, h3, h4 {
        margin: 0 0 15px 0;
        padding: 0;
        font-weight: normal;
        }
        h1 {
        font-size: 400%;
        }
        h2 {
        font-size: 210%;
        }
        h3 {
        font-size: 130%;
        }

        p {
        margin: 0 0 10px 0;
        }

        ul {
        margin: 0;
        }
        a {
        color: #222;
        }
        /* ________________________________________________________ */
        .rtl {
        direction: rtl;
        }
        .clear {
        clear: both;
        }

        #main {
        background: #fff;
        width: 900px;
        padding: 35px;
        margin: 0 auto 15px auto;
        overflow: hidden;

        box-shadow: 0 0 6px #ccc;
        }

        #title {
        margin: 0px 0 20px 0;
        line-height: 42px;
        color: #111;

        border-bottom: 1px solid #111;
        padding-bottom: 5px;
        }

        #credit {
        margin-bottom: 20px;
        font-size: 11px;
        color: #999;
        text-align: center;
        }
        #credit a {
        color: #999;
        }

        p label {
        font-weight: bold;

        font-size: 110%;
        margin-right: 10px;
        }
        p label span.colon {
        display: inline;
        }


        .section {
        margin-bottom: 10px;
        border-bottom: 1px solid #111;
        //padding-bottom: 5px;
        }

        .item {
        margin: 0 0 10px 0;
        }

        /* _____________________________ */

        .photo .basic-info .set {
        float: none !important;
        width: auto !important;
        }
        .basic-info .address {
        width: 40%;
        float: left;
        }
        .basic-info .r {
        float: right;
        width: 58%;
        text-align: right;
        }
        .basic-info label {
        font-weight: bold;
        }
        .basic-info label, .basic-info span {
        display: inline !important;
        }
        .basic-info p {
        margin: 0;
        }

        .section .title {
        float: left;
        font-size: 100%;
        text-transform: uppercase;
        width: 16%;
        margin-right: 20px;
        }
        .section .set {
        float: left;
        width: 78%;
        }
        .section .set h3 {
        margin: 0;
        }
        .section span {
        display: block;
        }
        .section h3 span.l, .section span.r {
        width: 49%;
        float: left;
        }
        .section span.r {
        float: right;
        text-align: right;
        }
        .section-education .school,
        .section-work .job_title {
        font-size: 115%;
        display: block;
        margin: 5px 0 5px 0;
        }


        #photo {
        width: 160px;
        height: 200px;
        overflow: hidden;
        float: left;
        border-radius: 4px;
        }
        #photo img {
        width: 100%;
        height: auto;
        }
        .header.photo {
        margin-left: 190px;
        }
        .header.photo #title {
        text-align: left;+
        }
        .header.photo .basic-info {
        float: none;
        padding: 0;
        }


        @media screen and (max-width: 950px) {
        body {
        background: #fff;
        }
        #main {
        box-shadow: none;
        padding: 0;
        padding: 5px;
        }
        }
    </style>
</head>
<body class="lang-en ">

<div id="main">
    <div id="photo">
        <img src="/static/images/cv_mug_shot.png" alt="Mug Shot"/>
    </div>

    <div class="header photo">
        <h1 id="title">
            {{ profile.user.first_name }} {{ profile.user.last_name }}
        </h1>

        <div style="border: none" class="basic-info section">
            <div class="set">
                <p class="address">
                    <span class="value" id="address">
                        Flat_No, Building_Name, Society_Name
                        <br/>
                        Nearest_Landmark, Area_Name
                        <br/>
                        City_Name
                    </span>
                </p>

                <div class="r">
                    <p class="email">
                        <label>
                            {{ profile.email_ids.all.0.name }}<span class="colon">:</span>
                        </label>
                        <span class="value">
                            {{ profile.email_ids.all.0.email }}
                        </span>
                    </p>

                    <p class="phone">
                        <label>
                            {{ profile.mobile_numbers.all.0.name }}<span class="colon">:</span>
                        </label>
                        <span class="value">
                            {{ profile.mobile_numbers.all.0.number }}
                        </span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    {% for section in profile.sections.all %}
    <div class="section section-work">
        <h2 class="title">
            {{ section.name }}
        </h2>

        <div class="set">
            {% for subsection in section.sub_sections.all %}
            <div class="item">
                <h3>
                    <span class="company l">
                        {{ subsection.name }}
                    </span>
                    <span class="date r">
                        {{ subsection.start_date }} &mdash; {{ subsection.end_date }}
                    </span>
                </h3>0

                <span class="job_title">
                    {{ subsection.designation }}
                </span>
                <span class="info">
                    <strong>
                        {{ subsection.description }}
                        <br/>
                    </strong>
                    <br/>
                </span>
                <span class="info" id="pointsSubsection{{ subsection.id }}">
                    {{ subsection.data }}
                    <br/>
                </span>

                {% for item in subsection.items.all %}
                <span class="info">
                    <br/>
                    <strong>
                        {{ item.name }}
                    </strong>
                    <br/>
                </span>
                <span class="info" id="pointsItem{{ item.id }}">
                    {{ item.data }}
                </span>
                {% endfor %}
                <span class="clear"> </span>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      address = jQuery.parseJSON("{{ profile.addresses.all.0.data|escapejs }}")
      $("#address").html(address.flatNo + ", " + address.buildingName + ", " + address.societyName + "<br>" + address.nearestLandmark + ", " + address.area + "<br>" + address.city + ", " + address.pincode)
    })
</script>
<script>
    (function(){
      pointsSubsection = []
      pointsItem = []
      {% for section in profile.sections.all %}
        {% for subsection in section.subsections.all %}
          pointsSubsection.push(jQuery.parseJSON("{{ subsection.data|escapejs }}"))
          html("{{ subsection.name|escapejs }}'s Points")
          $("#pointsSubsection{{ subsection.id|escapejs }}").html(html)
          {% for item in subsection.items.all %}
            pointsItem.push(jQuery.parseJSON("{{ item.data|escapejs }}"))
            html("{{ item.name|escapejs }}'s Points")
            $("#pointsItem{{ item.id|escapejs }}").html(html)
          {% endfor %}
        {% endfor %}
      {% endfor %}
    })
</script>
</html>