<h1>Messages</h1>

<div>
<ul>
{% for chat in all_chats %}
	<li>
		<a href="/profile/{{ chat.user.call_sign }}">{{ chat.user }}</a>
		<br>
		{{ chat.text }}
		<br>
		{{ chat.comment_time }}
	</li>
{% endfor %}
</ul>
<!--Sending User : {{ sending_user.name }}, {{ sending_user.call_sign }} -->
</div>

<meta http-equiv = "refresh" content="0; url = /game/chat/" />