<form action = "{% url 'game:user_added' %}" method = "post">
				{% csrf_token %}
				Details for New User
				<br>
				Name : <input type = "text" name = "name" id = "">
				<br>
				Call Sign : <input type = "text" name = "call_sign" id = "">
				<br>
				Date of Birth : <input type = "date" name = "dob" id = "">
				<br>
				Password : <input type = "password" name = "password" id = "">
				<br>
				Email : <input type = "text" name = "email" id = "">
				<br>
				About You
    			<br>
   			  <textarea rows = "5" name = "info" id = ""></textarea>
				<br>
				<input type = "Submit" value = "Register User">
			</form>