<h1>Success</h1>

Login was successful for {{ logged_user.name }}

<meta http-equiv = "refresh" content="0; url = /game/home/" />

<a href = "/home/">Click to go Home</a>
{% if logged_user %}
	<a href = "/signout/">Click To Sign Out</a>
{% endif %}