<h1>Add New User</h1>

<p>
	<form action = "{% url 'game:user_added' %}" method = "post">
	{% csrf_token %}
	Enter Details for New User :
	<br>
	Enter Name : <input type = "text" name = "name" id = "">
	<br>
	Enter Call Sign : <input type = "text" name = "call_sign" id = "">
	<br>
	Enter Date of Birth : <input type = "date" name = "dob" id = "">
	<br>
	Enter Password : <input type = "password" name = "password" id = "">
	<br>
	Enter Email : <input type = "text" name = "email" id = "">
	<br>
	Enter Information : <textarea rows = "4" cols = "100" name = "info" id = ""></textarea>
	<br>
	<input type = "Submit" value = "Register User">
</p>
<br>
<a href = "/game/home">Click to go Home</a>
{% if logged_user %}
	<a href = "/game/signout/">Click To Sign Out</a>
{% endif %}