<h1>Messages</h1>

<div meta http-equiv = "refresh" content="1"; url = "/game/chat/">
	<ul>
		{% for chat in all_chats %}
			<li>
				<a href="/game/profile/{{ chat.user.call_sign }}">{{ chat.user }}</a>
				<br>
				{{ chat.text }}
				<br>
				{{ chat.comment_time }}
			</li>
		{% endfor %}
	</ul>
	<!--Sending User : {{ sending_user.name }}, {{ sending_user.call_sign }} -->
</div>

{% if logged_user %}
	<form action = "{% url 'game:sending_chat' %}" method = "post">
		{% csrf_token %}
		Comment : <input type = "text" name = "comment">
		<br>
		<input type = "Submit" value = "{{ logged_user.call_sign }}">
		<br>
	</form>
	<a href = "/game/home/">Click to go Home</a>
	<a href = "/game/signout/">Click To Sign Out</a>
{% endif %}