<h1>Welcome TO Assault Sniper CQB Game</h1>
<p>
	The game is very simple
	<br>
	You stations your troops in a 3X3 board and so will the other player
	<br>
	A is Assault Trooper
	<br>
	S is Sniper
	<br>
	P is CQB Soldier
	<br>
	Now rules are as follows
	<br>
	1. Assault Trooper will kill CQB Soldier, but will be killed by Sniper
	<br>
	2. CQB Soldier will kill Sniper, but will be killed by Assault Trooper
	<br>
	3. Sniper will kill Assault Trooper, but will be killed by CQB Soldier
	<br>
	Basically Rock-Paper-Scissor with a dash of Battleship strategy
	<br>
	So Enjoy
	<br>
	And keep sharing
	<br>
	It's for free
	<br>
	--
	<br>
	Developed by Vishesh Bangotra
	<br>
	Under mentor-ship of Deepak Sir from Dvorak Coders
	<br>
</p>
<a href = "/game/adduser/">Sign Up</a>
<br>
{% if logged_user %}
	<a href = "/game/profile/{{ logged_user.call_sign }}/">{{ logged_user.call_sign }}</a>
	<br>
	<a href = "/game/chat/">Chat as {{ logged_user.call_sign }}</a>
	<br>
	Not {{ logged_user.call_sign }}???
	<br>
	<a href = "/game/login/">Login</a> with your ID
	<br>
{% else %}
	<a href = "/game/login/">Login</a>
	<br>
{% endif %}
{% if all_users %}
    <ul>
	<h2>Registered Users : </h2>
    {% for user in all_users %}
		{{ user.name }}, also know as <a href = "/game/profile/{{ user.call_sign }}">{{ user.call_sign }}</a> Last Seen {{ user.last_chat }}</li>
		<br>
    {% endfor %}
    </ul>
{% else %}
	<p>
		No registered users
	</p>
{% endif %}
{% if logged_user %}
	<a href = "/game/signout/">Click To Sign Out</a>
{% endif %}