<p>
	<form action = "{% url 'game:check_login' %}" method = "post">
	{% csrf_token %}
	<br>
	Call Sign : <input type = "text" name = "call_sign" id = "">
	<br>
	Enter Password : <input type = "password" name = "password" id = "">
	<br>
	<input type = "Submit" value = "Enter Password">
	</form>
</p>
<br>
<a href = "/game/">Click to go Home</a>