<h1>Profile for {{ profile_user.name }}</h1>

<p>
	Goes by the Call Sign of {{ profile_user.call_sign }} since {{ profile_user.dob }}
</p>

<p>
	Rumours heard about {{ profile_user.call_sign }} : {{ profile_user.info }}
</p>

<br>
<a href = "/game/home">Click to go Home</a>
{% if logged_user %}
	<a href = "/game/signout/">Click To Sign Out</a>
{% endif %}