{% if new_user %}
	<h1>New User Added</h1>
	<a href = "/game/profile/{{ new_user.call_sign }}/">{{ new_user.name }}</a>, also know as {{ new_user.call_sign }}
	<br>
	Click To Login as <a href = "/game/login/" />{{ new_user }}</a>
{% else %}
	<p>
		Sorry cannot add new user as max limit reached
		<br>
		Please try some time later
	</p>
{% endif %}
<a href = "/game/home">Click to go Home</a>
{% if logged_user %}
	<a href = "/game/signout/">Click To Sign Out</a>
{% endif %}