<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'twitter_clone/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'twitter_clone/css/styles.css ' %}" rel="stylesheet">
  {% block style %}
  {% endblock %}
</head>
  <body>
    <div class="wrapper">
    <div class="box">
      <div class="row">

        <!--=== Side Bar - Start ===-->
        <div class="column hidden-xs col-sm-3 col-md-3 col-lg-3" id="sidebar"
            style="padding: 32px">
          <a class="logo" href="{% url 'tc_landing_page' %}">TC</a>
          <ul class="nav">
            {% if request.user.is_authenticated %}
            <li class="active"><a href="{% url 'tc_home' %}">home</a>
            </li>
            <li><a href="{% url 'tc_timeline' request.user.username %}">{{ request.user.username }}</a>
            </li>
            {% else %}
            {% endif %}
          </ul>
          <ul class="nav hidden-xs" id="sidebar-footer">
            <li>
              <a href="http://www.bootply.com"><h3>T-Clone</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by IronEagle</a>
            </li>
          </ul>
        </div>
        <!--=== Side Bar - End ===-->


        {% block content %}
        {% endblock %}

      </div>
    </div>
  </div>
  <!--=== Script References - Start ===-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="{% static 'twitter_clone/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'twitter_clone/js/scripts.js' %}"></script>
  <script src="{% static 'twitter_clone/plugins/TouchSwipe-Jquery-Plugin-master/jquery.touchSwipe.min.js' %}"></script>
  <!--=== Script References - End ===-->

  <!--=== Swipe - Start ===-->
  <script>
    $(document).ready(function(){
      urlLeft = "{% url 'tc_timeline' %}"
      swipeLeft(urlLeft)

      urlRight = "{% url 'tc_home' %}"
      swipeLeft(urlRight)
    })
  </script>
  <!--=== Swipe - End ===-->

  {% block script %}
  {% endblock %}
  </body>
</html>