{% extends "tc-base.html" %}

    {% block title %} T-Clone - {{ user_profile.username }}'s Home {% endblock %}

{% block style %}
{% endblock %}

{% block content %}
        <!--=== Main - Start ===-->
        <div class="column col-xs-12 col-sm-9 col-md-9 col-lg-9" id="main">
          <div class="padding">
            <div class="full col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <!--=== Content - Start ===-->
              <div class="col-sm-12" id="stories">
                <div class="page-header text-muted divider" style="">
                  <h2 id="tweetTweet">Feed Tweets!!!</h2>
                </div>
                <form method="POST" id="tweetForm" class="form" action="#" accept-charset="UTF-8">
                  {% csrf_token %}
                    <div class="input-group">
                      <span class="input-group-addon" id="passwordInput">@</span>
                      <input type="text" name="tweet_text" class="form-control" value="" placeholder="tweet away!!!">
                    </div>
                    <select name="tweet_tags" multiple
                            style="
                            width: 100%;
                            height: 100%;">
                      {% for profile in taggable_profiles %}
                      <option value="{{ profile.username }}">Tag {{ profile.username }}</option>
                      {% empty %}
                      {% endfor %}
                    </select>
                </form>
                <a href="#" id="tweetNow">tweet now!!</a>
              </div>

              {% for tweet in feed %}
              <!--=== Tweet - Start ===-->
              <div class="row">
                <div class="col-sm-10">
                  {% if tweet.replies_to.all.0 %}
                  <h3>replies to "{{ tweet.replies_to.all.0.parent_tweet.text }}"</h3>
                  {% endif %}
                  <h3>{{ tweet.text }}</h3>
                  {% for tag in tweet.tags.all %}
                  <h4 style="display:inline"><span class="label label-primary">{{ tag.username }}</span></h4>
                  {% endfor %}
                  <h4>
                    <small class="text-muted">
                      <a class="likeTweet" id="likeTweetID{{ tweet.id }}" href="#">
                        Like {% if tweet.liked_by_profiles.all.0 %}
                        <span class="badge">{{ tweet.liked_by_profiles.all.count }}</span>
                        {% endif %}
                      </a>
                      <a href="{% if tweet.replies_to.all.0 %}{% url 'tc_tweet' tweet.replies_to.all.0.parent_tweet.id %}{% else %}{% url 'tc_tweet' tweet.id %}{% endif %}" class="text-muted">
                      • Reply {% if tweet.parent_to.all.0 %}
                        <span class="badge">{{ tweet.parent_to.all.count }}</span>
                        {% else %}<span class="badge">{{ tweet.replies_to.all.0.parent_tweet.parent_to.all.count }}</span>
                        {% endif %}
                      </a>
                      • {{ tweet.created_at }}
                      • <a href="#" class="text-muted">{{ tweet.author.username }}</a>
                    </small>
                  </h4>
                </div>
                <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>
                </div>
              </div>

              <div class="row divider">
                 <div class="col-sm-12"><hr></div>
              </div>
              <!--=== Tweet - End ===-->
              {% empty %}
              <div class="row">
                <div class="col-sm-10">
                <h3>be a listener and follow some people for tweets</h3>
                <small class="text-muted">Just Now!!! • <a href="#" class="text-muted">T-Clone BOT</a></small>
                </div>
                <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>
                </div>
              </div>

              <div class="row divider">
                 <div class="col-sm-12"><hr></div>
              </div>
              {% endfor %}
              <!--=== Content - End ===-->

              <!--=== Follow - Start ===-->
              <div class="col-sm-12">
                <div class="page-header text-muted divider">
                Follow Suggestion
                </div>
              </div>

              <div class="row">
                {% for suggestion in follow_suggestions %}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <a href="{% url 'tc_timeline' suggestion.username %}"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-respsonsive img-circle"></a>
                  <h4>{{ suggestion.username }} <a><i class="glyphicon glyphicon-plus"><span style="display:none">{{ suggestion.username }}</span></i> </a></h4>
                </div>
                {% if forloop.counter|divisibleby:3 %}
              </div>
              <div class="row">
                {% endif %}
                {% empty %}
                <div class="col-sm-6 col-md-4">
                  <h3>No Suggestions</h3>
                </div>
                {% endfor %}
              </div>
              <!--=== Follow - End ===-->

              <!--=== Footer - Start ===-->
              <div class="col-sm-12">
                <div class="page-header text-muted divider">
                Connect with Us
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                </div>
              </div>

              <hr>

              <div class="row" id="footer">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                <p>
                <a href="#" class="pull-right">©Copyright Inc.</a>
                </p>
                </div>
              </div>

              <hr>

              <h3 class="text-center">
              <a href="http://bootply.com/" target="ext">Made by IronEagle</a>
              </h3>

              <hr>
              <!--=== Footer - Start ===-->

            </div><!-- /col-9 -->
          </div><!-- /padding -->
        </div>
        <!--=== Main - End ===-->
{% endblock %}

{% block script %}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<!--=== Follow Animation and Process - Start ===-->
<script>
  $(".glyphicon-plus").click(function(){
    url = "{% url 'tc_follow' %}/" + $(this).html().split(':none">')[1].split("</span>")[0]
    followUser($(this), url)
  })
</script>
<!--=== Follow Animation and Process - End ===-->

<!--=== Tweet Popup and Process - Start ===-->
<script>
  $("#tweetNow").click(function(){
    url = "{% url 'tc_post_tweet' %}"
    tweet(url)
  })
</script>
<!--=== Tweet Popup and Process - End ===-->

<!--=== Like Tweet and Process - Start ===-->
<script>
  $(".likeTweet").click(function(){
    tweet_id = $(this).attr("id").split("ID")[1]
    url = "{% url 'tc_like_tweet' %}/" + tweet_id
    likeTweet($(this), url)
  })
</script>
<!--=== Like Tweet and Process - End ===-->
{% endblock %}