<!DOCTYPE html>
<html>
<head>
  <title>Happy Birthday</title>
</head>
<body>
<h1 style="text-align: center">HAPPY BIRTHDAY BOSS</h1>
<h2 style="text-align: center">Many Many Happy Returns of the Day</h2>
<img style="display: block; margin-left: auto; margin-right: auto;" src="/static/images/happy_birthday.jpg" alt="I don't use memes to wish birthday. But when I do I do it on a website">
<h3 style="text-align: center">{{ wish }} - <strong>{{ name }}</strong></h3>
<h4 style="text-align: center">Developers for this site have message for you, Gaurav</h4>
<p style = "color:red; text-align: center">
    <br>hpy bday!!! i want treat Gaurav!!!!!! (after 22ndjune)
    <br>Soma
</p>
<p style = "color:black; text-align: center">
    <br>Happy Birthday Sir,
    <br>Thank you for being my Mentor and Guide
    <br>Vishesh - IronEagle
</p>
<div style="display: none">
    <iframe width="420" height="315" src="//www.youtube.com/embed/-hyJsoPosCE?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
</body>
</html>