<div style="width: 100%">
    <table style="text-align: center; width: 100%; border: 2px solid black">
        <tr>
          <td style="width:25%; border: 1px solid black">
            <strong>Buyer</strong>
          </td>
          <td style="width:25%; border: 1px solid black">
            <strong>Fixed Cost</strong>
          </td>
          <td style="width:25%; border: 1px solid black">
            <strong><strong>Variable Cost</strong>
          </td>
          <td style="width:25%; border: 1px solid black">
            <strong>Total Cost</strong>
          </td>
        </tr>
        {% for buyer in buyers %}
        <tr>
          <td style="border: 1px solid black">
            {{ buyer.0 }}
          </td>
          <td style="border: 1px solid black">
            Rs {{ buyer.1 }}
          </td>
          <td style="border: 1px solid black">
            Rs {{ buyer.2 }}
          </td>
          <td style="border: 1px solid black">
            Rs {{ buyer.3 }}
          </td>
        </tr>
        {% empty %}
        <pre>
OLD PEOPLE BURNING!!
OLD PEOPLE BURNING!!
THIS IS MESSED UP!!!
        </pre>
        {% endfor %}
    </table>
    <pre>
Want one too?
<br>
Guess what?
<br>
Register your choice and get at even lower prices than quoted here
<br>
<a href="/ray-ban-register-glasses/">Click here to Register</a>
<br>
Confused???
<br>
<a href="http://www.raybancheapsell.com/">Check out full range here</a>
<br>
Hurry up!!
    </pre>
</div>