    <div class="container">
      <form name="glasses_details" id="glasses_details" action="/ray-ban-get-registered-glasses/" method="POST">
      {% csrf_token %}
        <div style="padding-bottom: 10px; width: 100%">
            <input style="text-align: center" name="" type="text" class="form-control" value="First Name" readonly="readonly"/>
            <input type="text" name="first_name">
        </div>
        <div style="padding-bottom: 10px; width: 100%">
            <input style="text-align: center" name="" type="text" class="form-control" value="Last Name" readonly="readonly"/>
            <input type="text" name="last_name">
        </div>
        <div style="padding-bottom: 10px; width: 100%">
            <input style="text-align: center" name="" type="text" class="form-control" value="URL of Glasses" readonly="readonly"/>
            <input type="text" name="url">
        </div>
        <input type="submit" value="Register Glasses">
      </form>
    </div>